* {
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-image: url('./Landscapes_and_houses_in_the_village/Landscapes15.jpg');
    background-size: contain;
}

header {
    width: 100vw;
    height: 40vh;
}

nav {
    width: 90%;
    margin: 10px auto;
    text-align: center;
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    text-decoration: none;
    color: red;
    font-size: 170%;
    margin: 10px 15px;
    letter-spacing: 1px;
}
nav ul li a:hover {
    text-decoration: underline;
}
.strapline-container {
    width: 90%;
    height: 85%;
    margin: auto auto;
    background-size: cover;
    background-position: center;
}
.main-strapline {
    color: red;
    font-size: 400%;
    margin: 50px 0px;
    font-family: 'poppins',sans-serif;
    text-align: center;
}
.email {
    font-size: 130%;
    color: black;
    text-align: center;
}
.email :hover {
    color: aqua;
}
.social-media-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 40vw;
    margin: 0 auto;
    text-align: center;
}
.social-media-icon {
    margin: 0px 7.5px;
    text-align: right;
    color: #075883;
}
@media only screen and (max-width: 768px) {
    header {
         margin-bottom: 40%;
    }
    .strapline-container {
        flex-direction: column;
        align-items: flex-start;
    }
    .main-strapline {
        font-size: 240%;
    }
  
    nav {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 20px;
    }
  
    ul {
      flex-direction: column;
      margin: 20px 0;
    }
  
    li {
      margin: 10px 0;
    }
  
    .email {
      margin: 0;
      display: block;
    }
  
    .social-media-div {
      margin-top:20px;
      align-items: center;
    }
  }